* {
    background-color: #F4D04E ;
    font-family: "Figtree", sans-serif;
}

.frame3 {
background-color: white;
width: 336px;
height: 480px;
margin: 0 auto;
margin-top: 100px;
margin-bottom: 218,5px;
border-radius: 20px;
border: 1px solid;
padding: 24px;
gap: 24px;
box-shadow: 8px 8px 0px rgba(0, 0, 0, 10);
}

.frame3 img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.frame3 h2 {
    color: #111111;
    background-color: #F4D04E;
    width: 66px;
    height: 26px;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-right: 4px;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}

.frame3 h3 {
    color: #111111;
    background-color: white;
    width: 150px;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}

.frame3 h1 {
    color: #111111;
    background-color: white;
    width: 336px;
    height: 36px;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    transition: color 0.2s;
}

.frame3 h1:hover {
    color: #F4D04E;
}

.frame3 p {
    color: #7F7F7F;
    background-color: white;
    width: 336px;
    height: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.footer {
    background-color: white;
    width: 129px;
    height: 32px;  
}

.footer img {
    background-color: white;
    width: 32px;
    height: 32px;
    float: left;
    padding-right: 15px;
    
  
}

.footer h3 {
    width: 200px;
    height: 21px;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    padding-top: 5px;
}